In [1]:
import numpy as np
import pandas as pd

In [47]:
# importing raw data
cyto_data = pd.read_csv('data/norm_cytokine_data.csv')
cyto_data.head(3)

,Unnamed: 0,Unnamed: 1,IFN-gamma,Unnamed: 3,IL-12p70,Unnamed: 5,IL-13,Unnamed: 7,IL-1beta,Unnamed: 9,...,IL-21,Unnamed: 29,IL-22,Unnamed: 31,IL-23,Unnamed: 33,IL-27,Unnamed: 35,IL-9,Unnamed: 37
0,NaN,Sample ID,MFI,Result in pg/ml,MFI,Result in pg/ml,MFI,Result in pg/ml,MFI,Result in pg/ml,...,MFI,Result in pg/ml,MFI,Result in pg/ml,MFI,Result in pg/ml,MFI,Result in pg/ml,MFI,Result in pg/ml
1,1.0,3400334878,98,27.22,8.5,<=0,9.5,<=0,11.5,<=0,...,7,<=0,9,<=0,9.5,<=0,10.5,<=0,7,<=0
2,2.0,3400334880,37.5,<=0,8,<=0,9,<=0,9.5,<=0,...,7,<=0,8,<=0,9,<=0,9.5,<=0,8.5,<=0

In [48]:
cyto_data = cyto_data.set_index('Unnamed: 1')

In [49]:
for col in cyto_data.columns:
    #print(col)
    if 'Unnamed' in col:
        #print(col)
        cyto_data = cyto_data.drop(col, axis = 1)

In [51]:
cyto_data = cyto_data.drop('Sample ID')

In [54]:
cyto_data.index.name = 'Sample_ID'
cyto_data.

,IFN-gamma,IL-12p70,IL-13,IL-1beta,IL-2,IL-4,IL-5,IL-6,TNF-alpha,GM-CSF,IL-18,IL-10,IL-17A,IL-21,IL-22,IL-23,IL-27,IL-9
Sample_ID,,,,,,,,,,,,,,,,,,
3400334878,98,8.5,9.5,11.5,6.5,8,7.5,8,11,9,124.5,6,5.5,7,9,9.5,10.5,7
3400334880,37.5,8,9,9.5,5,7.5,8,7,9,8,39.5,9.5,5,7,8,9,9.5,8.5
3400334974,33.5,7.5,9,10.5,6,6.5,8,7.5,8,8,26.75,8.5,5,7.5,8,9,9.5,6
3400335283,26,8,9,10.5,6,7,8,7,9,8.5,24,9,5.5,9,8.5,9,10,6
3400335823,40.5,8,9,11,5.5,9,8,7.5,9,9,38.5,8,5,79,9,9,10,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5150033614,118.75,10,11,12,7,9,9.5,8.5,12,10.5,112.75,64.25,41.5,1851.5,338.25,42,40,62.75
5150035098,37.5,14.5,16.25,18,7.5,16.5,8,10,13,9,43.5,27.5,7,10,12,9.5,17.5,6
5150035097,68.25,17,30,18,24,22.5,27,21.5,16,25,59,53.5,14,36.5,25.5,11.5,24,25.25
3400426421,20.5,7.5,8.5,8.5,5.25,6.5,7.5,7.5,7.5,8,24,7.5,5,25.5,9.5,8.5,9,6
5150037722,30.5,8.5,9.75,10,5.5,7,8,7.5,8.5,8.5,34,7,5.5,10,9,9.5,9.5,6.5